{% extends "base.html" %}

{% block title %}about trace{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Trace service</h1>

    <p>This webapp primarily returns the headers of your request plain text and json.</p>
    <p></p>
    <p>The request ip is always provided in the response headers as 'remote_addr'.  Some X headers may be attached by the webapp proxy, but will not overwrite existing headers, only appends to them with a comma.</p>
    
    
</div>
<body>
    <p>The provided pages are: <a href="/">Json headers<a>, <a href="/headers/text">plain text headers</a>, and <a href="/ip"> plain text request ip</a></p>
</body>

{% endblock %}